body {
  background-color: grey;
}
.cell {
  width: 115px;
  height: 115px;
  border: 5px solid yellow;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
  font-weight: bold;
}
#gameContainer {
  text-align: center;
}
#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  width: 225px;
  margin: auto;
}
button {
  padding: 15px;
  font-size: 20px;
  background-color: black;
  border: 2px solid white;
  color: yellow;
  border-radius: 50px;
}
button:hover {
  background-color: yellow;
  color: crimson;
  cursor: pointer;
  transition: 1s;
  transform: scale(0.9);
  border: 3px solid black;
}
h1 {
  font-size: 40px;
  color: yellow;
}
.current-player {
  font-weight: bold;
  color: yellow;
  font-size: 35px;
}
